@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background: #000000;
  color: white;
}

.bgGrade {
  background: linear-gradient(180deg, rgba(0, 0, 255, 0.15) 0%, rgba(0, 0, 0, 0.00) 10.38%);
}

.ctaGradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40%, rgba(0, 0, 20, 0.9) 65%, #00F 120%);
}

.drop_shadow {
  box-shadow: 0px 2px 6px 0px rgba(18, 18, 19, 0.06);
}

.drop-shadow-about {
  box-shadow: 0px 9px 42px 0px rgba(28, 28, 33, 0.38)
}